import os
basedir = os.path.abspath(os.path.dirname(__file__))

SECRET_KEY = ""

WTF_CSRF_ENABLED = True
#https://www.google.com/recaptcha/admin#list
RECAPTCHA_PUBLIC_KEY = ""
RECAPTCHA_PRIVATE_KEY = ""

SQLALCHEMY_DATABASE_URI = ""
SQLALCHEMY_TRACK_MODIFICATIONS = False

#gmail
MAIL_SERVER = "smtp.googlemail.com"
MAIL_PORT = 465
MAIL_USE_TLS = False
MAIL_USE_SSL = True
MAIL_USERNAME = ""
MAIL_PASSWORD = ""

TIMEZONE = "US/Eastern"
JSONIFY_PRETTYPRINT_REGULAR = False