<!DOCTYPE html>
<html>
    <head>
        <title>complete</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/static/css/skeleton.css">
        <style>
        body {
            margin: 1em;
        }
        p {
            margin: 0;
        }
        </style>
    </head>
    <body>
        <h1>Confirm your order via email.</h1>
        <p>Thanks for using this service!</p>
    </body>
</html>